



<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">


<body>
<div layout:fragment="mainFragment">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-6" th:each="li : ${list}">
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <h5><span  th:if="${!li.handled}" class="text-danger fw-bold me-2">[Новая] </span>Заявка от <span class="fw-bold" th:text="${li.userName}">Имя</span></h5>
                        <p>Курс:
                            <span th:text="${li.course != null ? li.course.name : 'Без курса'}"></span>
                        </p>
                        <p th:text="${li.commentary}">Комментарий</p>
                        <div class="d-flex align-items-center">
                            <p class="mb-0 me-2">
                                <strong>Тел:</strong> <span th:text="${li.phone}">+77077777777</span>
                            </p>
                            <a class="text-primary text-decoration-none" th:href="@{/app/details/{id}(id=${li.id})}">
                                Подробнее →
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>

